.heading {
  background: #5A909E;

  ul {
    margin-left: 148px;
    height: 72px;
    line-height: 72px;

    li {
      float: left;
      color: white;
      margin-left: 12px;
      font-size: 18px;

      a {
        color: white;
      }
    }
  }
}
.paging{
  display: flex;
  justify-content: center;
  .pagination{
    display: flex;
    justify-content: center;
    li{
      margin: 5px 10px;
      padding: 0 3px;
      border: 1px black solid;
    }
  }
}
.carousel{
  margin: 40px 120px 0 120px;
li{
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-bottom: 15px;
  img{
    width: 287px;
    height: 200px;
  }
}
}
@media screen and (max-width: 768px){
  .heading{
    >ul{
      height: 49px;
      margin: 0;
      display: flex;
      >li{
        height: 49px;
        line-height: 49px;
        font-size: 12px;
      }
    }
  }
  .carousel{
    margin: 24px 0;
    padding: 0 24px;
    li{
      &:nth-child(2n+1) {
        margin-right: 16px;
      }
      width: calc(50% - 8px);
      margin-top: 6px;
      height: 135px;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}